<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYrDqv_akMW2oL4WHMgWVg9wjQSIkGm2k</string>
	<key>GCM_SENDER_ID</key>
	<string>90542325897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartmeterapp</string>
	<key>PROJECT_ID</key>
	<string>smart-meter-b7d40</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-meter-b7d40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90542325897:ios:d72fd3c736d35ed6898658</string>
</dict>
</plist>